/*Css reset - 0 default paddings and margins*/
* {
	margin: 0;
	padding: 0;
	/*add font*/
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

nav {
	padding: 0.8rem; /*.8rem x16px(default size)*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*

		li by default are block elements. Links should be displayed inline.
		use display property


	*/

	display: inline;
}

/*intro section*/

#intro {
	/*percentage measurement are good practice for mobile responsiveness. Since the body occupies the full width of the screen, the percentage size will adjust according to the screen*/
	padding: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center; /*allows to center the text(children) and inline elements*/

}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold; /*allows to deternube thickness*/
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*info section*/
#succeed-info {
	/*
		padding/margin shorthand

		padding/margin: value; = all sides
		padding/margin:  top x-axis(left and right) bottom; = 3 values
		padding/margin:  y-axis(top and bottom) x-axis(left right); = 2 values
		padding/margin:  top right bottom left; = 4 values
	*/
	padding:  2rem 10% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
/*	border: 2px solid black;
*/	/*We set the card at 30% in width to divide the full width of the section into 3.
	It was not set directly as 33.33% so that it also accounts for the left and right margins.*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	/*vertical align top will alow us to align our inline-block elements vertically from the top*/
	vertical-align: top;
	/*if the current height of the element doest not reach the min height,
	the height of the element will be set to the valye of our min-height*/
	min-height: 175px;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

/*pre footer*/
#pre-footer {
	padding: 1rem;
	background-color: #002540;
	color: white;
}

#pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
/*
	Select all the child of the div inside a pre footer
		Syntax: 
		#pre-foot > div > *
*/
#pre-foot > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}


footer {
	padding: .7rem;
}

footer span {
	margin-right: .5rem;
	margin-left: .5rem;
}
