* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

body {
	background-image: url("https://img.freepik.com/free-vector/cosmetic-background-product-minimal-scene-with-geometrical-forms-abstract-background_258787-761.jpg");
}

#intro {
	text-align: center;
	background-color: #FFABDC;
	color: white;

}

#intro h2 {
	font-size: 50px;
}

#intro p {
	font-size: 20px;
	
}

.nav{
	margin: 0.5rem;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
}


#intro button {
	color: white;
	display: inline-block;
	font-weight: bold; /*allows to deternube thickness*/
	background-color: #E979BB;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	text-align: center;
	margin: 0.7rem;
}